<div class="hero-unit">
	<div class="centerit">
		<h1>SoundCloud Sort</h1>
		<p>Sort most popular tracks on soundcloud</p>
		
		<%= simple_form_for @search do |f| %>
  			<%= f.input :username, label: 'Your username please' %>
  			<%= f.input :password, hint: 'No special characters.' %>
  			<%= f.input :email, placeholder: 'user@domain.com' %>
  			<%= f.input :remember_me, inline_label: 'Yes, remember me' %>
  			<%= f.button :submit %>
		<% end %>

		<form class="navbar-search">
		<input type="text" class="search-query span7" placeholder="search">
		</form>

	
</div>
	
</div>


